{% extends "base.html" %}
{% load i18n %}

{% block search %}{% endblock %}

{% block content %}
{% if validlink %}  
    <div id="content" style="width:300px;">
    <form id="generic_form" method="post" action=".">
        <div class="fieldwrapper">
                {{ form.new_password1.errors }}
                <label for="id_name">New password:</label>        
                {{ form.new_password1 }}
        </div>
        <div class="fieldwrapper">
                {{ form.new_password2.errors }}
                <label for="id_name">New password confirmation:</label>        
                {{ form.new_password2 }}
        </div>        
      <input type="submit" value="{% trans 'Submit' %}" />
    </form>
    </div>
{% else %}
    <div id="message">
        <p>{% trans "Password reset failed" %}</p>
        <img src="http://beakman.webfactional.com/media/img/icons/alert.png" />
    </div>
{% endif %}  
{% endblock %}

{% block button %}{% endblock %}
