{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block search %}{% endblock %}
{% block message %}{% endblock %}
{% block button %}{% endblock %}

{% block content %}
<div id="content">
    <h3 style="text-align:center;">({{matches}}) {% trans "shows found" %}</h3>
    <table id="hor-zebra">
        <thead>
        	<tr>
                <th scope="col">{% trans "Show" %}</th>        	
            	<th scope="col">{% trans "Added" %}</th>
                <th scope="col">{% trans "Last season" %}</th>
                <th scope="col">{% trans "Language" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for show in shows %}
        	<tr class="{% cycle 'odd' '' %}">
                <td><a href="{% url show_detail show.slug %}">{{ show|escape }}</a></td>        	
            	<td>{{show.pub_date|naturalday}}</td>
                <td>{{show.seasons.all|first}}</td>
                <td><img src="http://beakman.webfactional.com/media/img/flags/{{show.get_language_display}}.png"> {{ show.get_language_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

