{% extends "base.html" %}
{% load i18n %}

{% block search %}{% endblock %}
{% block button %}{% endblock %}

{% block message %}{% endblock %}

{% block content %}
<div id="content">

        <div id="right2columns">
        <h2>Browse</h2>
        <blockquote style="margin-top: 10px;">
            <div style="margin-bottom: 2px;">
                <ul style="padding-left:10px; list-style-type:square;" class="help">
                <li><a href="">FAQ</a></li>
                <li><a href="">{% trans "Quick guide" %}</a></li>
                </ul>
            </div>
        </blockquote>
        </div>
    
        <div id="left2columns">
        <h2>Caqui.tv FAQ</h2>
        <blockquote style="margin-top: 10px;">
            <div style="margin-bottom: 2px;">
                <ul class="help">
                <li><strong>What is Caqui.tv?</strong></li>
                <li style="list-style-type:none; padding-left:10px; font-size:12px; color:#333;" class="answer">{% trans "Caqui.tv it's a TV Show syndication system. Caqui-tv provides a feed with direct download links to your favourite TV Shows." %}</li>                
                </ul>
            </div>
        </blockquote>
        </div>
</div>
{% endblock %}

