{% extends "base.html" %}
{% load i18n %}

{% block search %}{% endblock %}

{% block message %}
<div id="message">
    <p>{% trans "Thanks for taking the time to improve the quality of discussion on our site" %}.</p>
    <img src="http://beakman.webfactional.com/media/images/information.png" />
</div>
{% endblock %}

{% block content %}{% endblock %}
{% block button %}{% endblock %}

{% block script %}
<script type="text/JavaScript">
<!--
setTimeout("history.go(-1)",2000);
-->
</script>
{% endblock %}
